@using SysCEF.Model
@using SysCEF.Web.Helpers
@model SysCEF.Web.Models.ListaLaudoViewModel

<script type="text/javascript">
    $(function() {
        $(".mensagem").delay(1000).fadeOut("slow");
    });
</script>

@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <div class="mensagem">@Model.Mensagem</div>
}

<table class="SysCEF-table">
    <tr>
        <th></th>   
        <th>Data Hora Vistoria</th>
        <th>Responsavel Técnico</th>    
        <th>Produto</th>
        <th>Linha </th>
        <th>Fonte </th>
        <th>Cliente</th>
        <th>Endereco</th>
        <th>Bairro</th>
        <th>Cidade / UF</th>

        @{            
            if (Model.StatusLaudos == EnumStatusLaudo.EmAndamento.ToString())
            {
                <th></th>
            }
        }

    </tr>
    @{
        var i = 0;

        foreach (var item in Model.Laudos)
        {
            <tr class="@(i % 2 != 0 ? "alt" : "")">
                <td style="width: 25px; text-align: center;">
                    <a onclick="SysCEF.Editar('@Url.Action("Index", "Laudo")', @item.LaudoId)">Editar</a>
                </td>                  
                <td style="min-width: 120px; background-color: #F2CA27;">@item.DataHoraVistoria</td>
                <td>@item.ResponsavelTecnico</td>
                <td>@item.Produto</td>
                <td>@item.Linha</td>
                <td>@item.Fonte</td>
                <td>@item.NomeCliente</td>
                <td>@(item.SiglaLogradouro + " " + item.Endereco + ", " + item.Numero + " - " + item.Complemento)</td>
                <td>@item.Bairro</td>
                <td style="min-width: 120px;">@(item.Cidade + " / " + item.UF)</td>
                
            @{
            if (Model.StatusLaudos == EnumStatusLaudo.EmAndamento.ToString() || Model.StatusLaudos == EnumStatusLaudo.Concluido.ToString())
            {
                <td style="width: 25px; text-align: center;">
                    <a onclick="SysCEF.Exportar('@Url.Action("Exportar", new { id = item.LaudoId })', '@Url.Content("~/Content/uploads/")');" title="Exportar Laudo">
                        <img alt="Exportar Laudo" src="@Url.Content("~/Content/images/exportar.png")"/>
                    </a>
                </td>
            }       
            }
            </tr>
            i++;
        }
    }
</table>