@using Core
@using SysCEF.Model
@model SysCEF.Web.Models.ListaUsuarioViewModel

<script type="text/javascript">
    $(function () {
        SysCEF.ConfigurarListaUsuario();
    })
</script>


@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <div class="mensagem">@Model.Mensagem</div>
}

<div>
    <input id="adicionarUsuarioBtn" type="button" onclick="SysCEF.AdicionarUsuario('@Url.Action("Index", "Usuario")');" value="Adicionar Usuário" style="width: 150px; height: 35px; margin: 20px 0;"/>
</div>

<table class="SysCEF-table usuarios">
    <tr>
        <th style="width: 25px;"></th>      
        <th>Nome</th>
        <th>Perfil</th>
        <th>E-mail</th>
        <th style="width: 20px;"></th>
    </tr>
    @{
        var i = 0;

        foreach (var item in Model.Usuarios)
        {
            <tr class="@(i%2 != 0 ? "alt" : "")">
                <td style="width: 25px; text-align: center;">
                    <a onclick="SysCEF.Editar('@Url.Action("Index", "Usuario")', @item.UsuarioId)">Editar</a>
                </td>                  
                <td>@item.Nome</td>
                <td>@(EnumHelper.GetDescription((EnumPerfil)item.Perfil))</td>
                <td>@item.Email</td>
                <td style="width: 20px; text-align: center;">
                    <a title="Excluir usuário" onclick="SysCEF.ExcluirUsuario('@Url.Action("Excluir", "Usuario")', @item.UsuarioId);">
                        <img alt="Excluir" src="@Url.Content("~/Content/images/excluir.png")" style="width: 15px; height: 15px;"/>
                    </a>
                </td>
            </tr>
        
            i++;
        }
    }
</table>