@using SysCEF.Common.Implementacao
@using SysCEF.Model
<script type="text/javascript">
    $(function () {
        SysCEF.AjaxLoaderUrl = '@Url.Content("~/Content/images/ajax-loader.gif")';
        SysCEF.ConfigurarHome();
        SysCEF.CaminhoImportarOS = '@Url.Action("ImportarOS", "Laudo")';
        SysCEF.CaminhoListaLaudos = '@Url.Action("Lista", "Laudo")';
        SysCEF.CaminhoCadastroUsuarios = '@Url.Action("Lista", "Usuario")';
        SysCEF.CaminhoConfiguracoes = '@Url.Action("Index", "Configuracoes")';
    });
 </script>

<div id="tabs">
    <ul>
		<li><a href="#Importado">Importar OS</a></li>
		<li><a href="#AFazer">Vistorias a fazer</a></li>
		<li><a href="#EmAndamento">Laudos em andamento</a></li>
        <li><a href="#Concluido">Laudos concluídos</a></li>
        @*<li><a href="#BancoImoveis">Banco de imóveis</a></li>*@
        
        @if (new UsuarioLogado().EAdministrador)
        {
            <li><a href="#CadastroUsuarios">Cadastro de usuários</a></li>
            <li><a href="#Configuracoes">Configurações</a></li>
        }
        
        <li id="logoff"><a onclick="window.location = '@Url.Action("Logoff", "Login")';" title="Sair do sistema">Sair</a></li>
	</ul>
    <div id="Importado" class="mainContent">
        @Html.Action("ImportarOS", "Laudo")
    </div>                                    
    <div id="AFazer" class="mainContent">                  
        @Html.Action("Lista", "Laudo", new RouteValueDictionary { { "status", EnumStatusLaudo.AFazer.ToString() } })
    </div>                                    
    <div id="EmAndamento" class="mainContent">               
        @Html.Action("Lista", "Laudo", new RouteValueDictionary { { "status", EnumStatusLaudo.EmAndamento.ToString() } })
    </div>
    <div id="Concluido" class="mainContent">               
        @Html.Action("Lista", "Laudo", new RouteValueDictionary { { "status", EnumStatusLaudo.Concluido.ToString() } })
    </div>                                    
    @*<div id="BancoImoveis" class="mainContent">                
    </div>*@  
    
    @if (new UsuarioLogado().EAdministrador)
    {
        <div id="CadastroUsuarios" class="mainContent">
            @Html.Action("Lista", "Usuario")
        </div>
        <div id="Configuracoes" class="mainContent">
            @Html.Action("Index", "Configuracoes")
        </div>
    }
    
    @*<ul>
        <li>@Html.ActionLink("Início", "Index", "Home", null, new { style = "active" })</li>
        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
    </ul>*@
</div>