@model SysCEF.Web.Models.AlterarSenhaModel

@{
    ViewBag.Title = "Sistema de Avaliação de Imóveis - Redefinição de Senha";
}

<script type="text/javascript">
    $(function () {
        SysCEF.ConfigurarRedefinicaoSenha('@Model.MensagemErro');
    })
</script>

@using (Html.BeginForm("AlterarSenha", "Login"))
{
    <div class="login">
        <header>
            Redefinição de Senha
        </header>
        <fieldset>
            <legend>É necessário que você redefina sua senha.</legend>
            <label style="font-style: italic">(Mínimo de 6 caracteres)</label>
            <div class="editor-label">
                Nova Senha
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NovaSenha)
                @Html.ValidationMessageFor(m => m.NovaSenha)
            </div>

            <div class="editor-label">
                Confirmação
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Confirmacao)
                @Html.ValidationMessageFor(m => m.Confirmacao)
            </div>
            
            <div class="barraBotoes">
                <input type="submit" value="Salvar" style="width: 100px;"/>
            </div>
        </fieldset>
    </div>
}