@model SysCEF.Web.Models.LaudoViewModel

<table style="float: left; width: 50%;">
    <tr>
        <td style="width: 30%;">Áreas Averbadas</td>
        <td colspan="2">Privativa</td>
        <td colspan="2">De Uso Comum</td>
        <td colspan="2">Total</td>
    </tr>
    <tr>
        <td>Unidade</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaUnidadePrivativa, new Dictionary<string, object> { { "id", "areaUnidadePrivativa" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaUnidadeComum, new Dictionary<string, object> { { "id", "areaUnidadeComum" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaUnidadeTotal, new Dictionary<string, object> { { "id", "areaUnidadeTotal" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
    </tr>
    <tr>
        <td>Estacionamento</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaEstacionamentoPrivativa, new Dictionary<string, object> { { "id", "areaEstacionamentoPrivativa" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaEstacionamentoComum, new Dictionary<string, object> { { "id", "areaEstacionamentoComum" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaEstacionamentoTotal, new Dictionary<string, object> { { "id", "areaEstacionamentoTotal" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
    </tr>
    <tr>
        <td>Outros</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaOutrosPrivativa, new Dictionary<string, object> { { "id", "areaOutrosPrivativa" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaOutrosComum, new Dictionary<string, object> { { "id", "areaOutrosComum" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaOutrosTotal, new Dictionary<string, object> { { "id", "areaOutrosTotal" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaTotalPrivativa, new Dictionary<string, object> { { "id", "areaTotalPrivativa" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaTotalComum, new Dictionary<string, object> { { "id", "areaTotalComum" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaTotalAverbada, new Dictionary<string, object> { { "id", "areaTotalAverbada" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
    </tr>
</table>
<table style="width: 40%;">
    <tr>
        <td colspan="2">Áreas Não Averbadas</td>
        <td colspan="2">Somatório das Áreas</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">Averbadas e Não Averbadas</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>@Html.TextBoxFor(m => m.Laudo.AreaTotalNaoAverbada, new Dictionary<string, object> { { "id", "areaTotalNaoAverbada" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
        <td>@Html.TextBoxFor(m => m.Laudo.SomatorioAreas, new Dictionary<string, object> { { "id", "somaAreas" }, { "style", "text-align: right;" } })</td>
        <td>m²</td>
    </tr>
</table>
