@using SysCEF.Model
@using SysCEF.Web.Helpers
@model SysCEF.Web.Models.LaudoViewModel

<ul>
    <li class="grupo">2. CARACTERIZAÇÃO DA REGIÃO</li>
    <li>
        <div>Usos Predominantes</div>
        <div style="width: 200px;">@Html.DropDownListFor(m => m.Laudo.UsosPredominantes, typeof(EnumUsosPredominantes), Model.UsosPredominantes)</div>
    </li>
    <li>
        <table>
            <tr>
                <td>
                    <div id="servicos_table" style="width: 400px; float: left;">
                        <table>
                            <tr><td>Serviços Públicos e Comunitários</td></tr>
                            <tr>
                                <td>
                                    <table>
                                        @{
                                            var countServico = 0;
                                            foreach (var servico in Model.ListaServicosPublicosComunitarios)
                                            {
                                                <tr>
                                                    <td>@Html.CheckBoxFor(m => servico.Selected, new Dictionary<string, object> {{ "id", servico.Value }})</td>
                                                    <td>@servico.Text</td>
                                                </tr>

                                                countServico++;
                                                if (countServico <= 3)
                                                {
                                                    continue;
                                                }
                                                countServico = 0;

                                                @Html.Raw("</table></td><td><table>")
                                            }
                                        }
                                    </table>
                                    @Html.Hidden("ServicosSelecionados")
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div id="infras_table" style="width: 400px;">
                        <table>
                            <tr><td>Infraestrutura Urbana</td></tr>
                            <tr>
                                <td>
                                    <table>
                                        @{
                                            var countInfra = 0;
                                            foreach (var infraEstrutura in Model.ListaInfraEstruturasUrbanas)
                                            {
                                                <tr>
                                                    <td>@Html.CheckBoxFor(m => infraEstrutura.Selected, new Dictionary<string, object> { { "id", infraEstrutura.Value } })</td>
                                                    <td>@infraEstrutura.Text</td>
                                                </tr>

                                                countInfra++;
                                                if (countInfra <= 3)
                                                {
                                                    continue;
                                                }
                                    
                                                countInfra = 0;

                                                @Html.Raw("</table></td><td><table>")
                                            }
                                        }
                                    </table>
                                    @Html.Hidden("InfrasSelecionadas")
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </li>
</ul>
