@using SysCEF.Model
@using SysCEF.Web.Helpers

@model SysCEF.Web.Models.LaudoViewModel

<ul>
    <li class="grupo">1. IDENTIFICAÇÃO</li>
    <li>
        <table>
            <tr>
                <td>Estado</td>
                <td>Município</td>
                <td>Bairro</td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(m => m.Laudo.Imovel.Cidade.Estado.EstadoID, Model.ListaEstados)</td>
                <td>@Html.DropDownListFor(m => m.Laudo.Imovel.Cidade.CidadeID, Model.ListaCidades)</td>
                <td>@Html.TextBoxFor(m => m.Laudo.Imovel.Bairro, new Dictionary<string, object> { { "style", "width: 98%;" } })</td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <td>Tipo logradouro</td>
                <td style="width: 52%">Endereço do imóvel</td>
                <td>Complemento do endereço</td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(m => m.Laudo.Imovel.TipoLogradouro.TipoLogradouroID, Model.ListaTiposLogradouro)</td>
                <td>
                    @Html.TextBoxFor(m => m.Laudo.Imovel.Endereco, new Dictionary<string, object> { { "style", "width: 85%; float: left; margin-right: 10px;" } })
                    @Html.TextBoxFor(m => m.Laudo.Imovel.Numero, new Dictionary<string, object> { { "style", "width: 10%;" } })
                </td>
                <td>@Html.TextBoxFor(m => m.Laudo.Imovel.Complemento, new Dictionary<string, object> { { "style", "width: 98%;" } })</td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <td>Produto</td>
                <td>Linha</td>
                <td>Fonte</td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(m => m.Laudo.Produto, typeof(EnumProduto), Model.Produtos)</td>
                <td>@Html.DropDownListFor(m => m.Laudo.Linha, typeof(EnumLinha), Model.Linhas)</td>
                <td>@Html.DropDownListFor(m => m.Laudo.Fonte, typeof(EnumFonte), Model.Fontes)</td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <td>Nome do Cliente</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(m => m.Laudo.Imovel.NomeCliente)</td>
            </tr>
        </table>
    </li>
</ul>