@using SysCEF.Model
@using SysCEF.Web.Helpers
@model SysCEF.Web.Models.LaudoViewModel

<ul>
    <li class="grupo" name="grupo">3. TERRENO</li>
    <li>
      <table>
        <tr>
          <td>Forma</td>
          <td>Cota/Greide</td>
          <td>Inclinação</td>
          <td>Situação</td>
          <td>Superfície</td>
        </tr>
        <tr>
          <td>@Html.DropDownListFor(m => m.Laudo.FormaTerreno, typeof(EnumFormaTerreno), Model.FormaTerreno)</td>
          <td>@Html.DropDownListFor(m => m.Laudo.CotaGreideTerreno, typeof(EnumCotaGreide), Model.CotaGreide)</td>
          <td>@Html.DropDownListFor(m => m.Laudo.InclinacaoTerreno, typeof(EnumInclinacaoTerreno), Model.InclinacaoTerreno)</td>
          <td>@Html.DropDownListFor(m => m.Laudo.SituacaoTerreno, typeof(EnumSituacaoTerreno), Model.SituacaoTerreno)</td>
          <td>@Html.DropDownListFor(m => m.Laudo.SuperficieTerreno, typeof(EnumSuperficieTerreno), Model.SuperficieTerreno)</td>
        </tr>
      </table>
    </li>
    <li>
        <table>
            <tr>
                <td colspan="2">Área</td>
                <td colspan="2">Frente</td>
                <td colspan="2">Fundos</td>
                <td colspan="2">Direita</td>
                <td colspan="2">Esquerda</td>
                <td style="width: 20%;">Fração ideal</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(m => m.Laudo.MedidaAreaTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
                <td>m²</td>
                <td>@Html.TextBoxFor(m => m.Laudo.MedidaFrenteTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
                <td>m²</td>
                <td>@Html.TextBoxFor(m => m.Laudo.MedidaFundosTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
                <td>m²</td>
                <td>@Html.TextBoxFor(m => m.Laudo.MedidaDireitaTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
                <td>m²</td>
                <td>@Html.TextBoxFor(m => m.Laudo.MedidaEsquerdaTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
                <td>m²</td>
                <td>@Html.TextBoxFor(m => m.Laudo.FracaoIdealTerreno, new Dictionary<string, object> { { "style", "text-align: right;" } })</td>
            </tr>
        </table>
    </li>
</ul>
